.wrapper {
 
}

body {
    background-color: purple;
}

h1 {
    text-align: center;
    color: goldenrod;
}

h2 {
    text-align: center;
   
}

.hashtagimage {
    width: 700px;
    height: 150px;
}

#time {
    
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
    
}

#quiz {
    margin-left: 30%;
    font-size: 28px;
}

h4 {
    margin-left: 10%;
}
#resultsCorrect, 
#resultsIncorrect,
#resultsUnanswered {
    margin-left: 0%;
}


.answers {
    /* margin-left: 5%; */
}
#submit {
    margin-left: 40%;
    margin-top: 20px;
}


/* .answers:hover{
	border: 3px solid white;
    background-color: #09A870;
    width: 60%
} */

label:hover {
    border: 3px solid white;
    background-color: #09A870;
    width: 60%
 
}

